body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
}
.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 5px;
}

.column ul li a:hover{
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}
.galeria img{
    width: 50%;
    display:block;
}

a::before {
    content: "Me clique";
    color: red;
}

.galeria::-ms-expand {
    color:orange;
}